<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .done{
            text-decoration: line-through;
        }

        li{
            line-height: 2rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>Compiti da eseguire</h1>

        <input type="text" placeholder="Aggiungi una task" v-model="newTask" required>
        <button @click="addElement" >invia</button>
        <ul>
            <!-- v-for cicla all'interno dell'array todo, v-bind:key attributo di vue associato ad ogni li generato dal ciclo, se la proprietà done dell'oggetto task.done è true associamo la classe done e quindi la liena trough -->
            <li v-for="(task, index) in todo" v-bind:key="index" v-bind:class="{ done : task.done}">
                {{task.task}} 
                <button @click="removeElement(index)">x</button>
            </li>

        </ul>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./main.js"></script>
</body>

</html>